html {
  --blue: #4e8dc8;
  --grey: grey;
  --dark-grey: #444444f7;
  --light-grey: #e9eaebf5;
  --black: black;
  --white: white;

  --primary: #4e8dc8;
  --secondary-light: #e9eaebf5;
  --secondary-medium: grey;
  --secondary-dark: #444444f7;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
