html {
  --primary: #367caf;
  --secondary-light: #e9eaebf5;
  --secondary-medium: grey;
  --secondary-dark: #444444f7;

  --screen-lg: 64em;
  --shadow-lg: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
